{% extends 'baseback.html.twig' %}

{% block title %}Livraison {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/livraison.css') }}">
{% endblock %}

{% block content %}
<h1>Recherche de livraisons</h1>
    
    <div class="form-group">
        <label for="nom_livreur">Nom du livreur :</label>
        <input type="text" id="nom_livreur" name="nom_livreur" class="form-control" />
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom du livreur</th>
                <th>Date de livraison</th>
                <th>Numéro de commande</th>
            </tr>
        </thead>
        <tbody id="livraisons-table">
        </tbody>
    </table>
{% block javascript %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        $(document).ready(function() {
    $('#nom_livreur').on('input', function() {
        $.ajax({
            url: '{{ path('livraisons_recherche') }}',
            type: 'GET',
            dataType: 'json',
            data: {
                nom_livreur: $(this).val()
            },
            success: function(response) {
               
                $('#livraisons-table').empty();

                
                response.livraisons.forEach(function(livraison) {
                    $('#livraisons-table').append(`
                        <tr>
                            <td>${livraison.idLivraison}</td>
                            <td>${livraison.nomLivreur}</td>
                            <td>${livraison.dateLivraison}</td>
                            <td>${livraison.numCommande.idCommande}</td>
                        </tr>
                    `);
                });
            }
        });
    });
});

    </script>
    {%  endblock  %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="page-title">Livraison</h1>
                <a href="{{ path('app_livraison_new') }}" class="btn btn-primary mb-3 create-button">Create New Livraison</a>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID Livraison</th>
                            <th>Nom Livreur</th>
                            <th>Date Livraison</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for livraison in livraisons %}
                            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                                <td>{{ livraison.idLivraison }}</td>
                                <td>{{ livraison.nomLivreur }}</td>
                                <td>{{ livraison.dateLivraison ? livraison.dateLivraison|date('Y-m-d') : '' }}</td>
                                <td>
                                    <a href="{{ path('app_livraison_show', {'idLivraison': livraison.idLivraison}) }}" class="btn btn-sm btn-primary show-button"><i class="fa fa-eye">Show</i></a>
                                    <a href="{{ path('app_livraison_edit', {'idLivraison': livraison.idLivraison}) }}" class="btn btn-sm btn-secondary edit-button"><i class="fa fa-pencil">Edit</i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">No records found.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}
