{% extends 'base.html.twig' %}

{% block title %}ProfilLivreur{% endblock %}

{% block body %}
    <h1>ProfilLivreur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdLivreur</th>
                <td>{{ profil_livreur.idLivreur }}</td>
            </tr>
            <tr>
                <th>NomLivreur</th>
                <td>{{ profil_livreur.nomLivreur }}</td>
            </tr>
            <tr>
                <th>Secteur</th>
                <td>{{ profil_livreur.secteur }}</td>
            </tr>
            <tr>
                <th>MoyLivraison</th>
                <td>{{ profil_livreur.moyLivraison }}</td>
            </tr>
            <tr>
                <th>Volume</th>
                <td>{{ profil_livreur.volume }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profil_livreur_index') }}">back to list</a>

    <a href="{{ path('app_profil_livreur_edit', {'idLivreur': profil_livreur.idLivreur}) }}">edit</a>

    {{ include('profil_livreur/_delete_form.html.twig') }}
{% endblock %}
